* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  background-color: black;

  .navbarCnt {
    width: 75%;

    a {
      font-family: "Nunito Sans", Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }

      span {
        color: #d1002c;
      }
    }

    .navUl {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 18px;

      li {
        .home {
          color: #d1002c !important;
        }

        a {
          font-family: "Nunito Sans", Arial, sans-serif;
          font-size: 13px;
          font-weight: 700;
          line-height: 23px;
          color: rgba(255, 255, 255, 0.6);
          transition: 0.4s ease;

          &:hover {
            color: #d1002c;
          }
        }
      }
    }
    .searchInp {
      height: 40px;
      min-width: 200px;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.6);
      display: flex;
      align-items: center;
      justify-content: space-around;

      #searchInp {
        width: 80%;
        min-height: 30px;
        border: transparent;
        background-color: transparent;
        margin-left: 10px;

        &::placeholder {
          font-family: "Nunito Sans", Arial, sans-serif;
          font-size: 13px;
          font-weight: 700;
          line-height: 23px;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      #searchBtn {
        background-color: #d1002c;
        border-top-right-radius: 30px;
        width: 20%;
        min-height: 40px;
        border: none;
        color: rgba(255, 255, 255, 0.757);
        border-bottom-right-radius: 30px;
      }
    }
  }
}
.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  min-height: 100px;
  width: 100%;
  background-color: transparent !important;

  .navbarCnt {
    width: 75%;

    a {
      font-family: "Nunito Sans", Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }

      span {
        color: #d1002c;
      }
    }

    .navUl {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 18px;

      li {
        .home {
          color: #d1002c !important;
        }

        a {
          font-family: "Nunito Sans", Arial, sans-serif;
          font-size: 13px;
          font-weight: 700;
          line-height: 23px;
          color: rgba(255, 255, 255, 0.6) !important;
          transition: 0.4s ease;

          &:hover {
            color: #d1002c !important;
          }
        }
      }
    }
    .searchInp {
      height: 40px;
      min-width: 200px;
      border-radius: 30px;
      background-color: rgba(255, 255, 255, 0.6) !important;
      display: flex;
      align-items: center;
      justify-content: space-around;

      #searchInp {
        width: 80%;
        min-height: 30px;
        border: transparent;
        background-color: transparent;
        margin-left: 10px;

        &::placeholder {
          font-family: "Nunito Sans", Arial, sans-serif;
          font-size: 13px;
          font-weight: 700;
          line-height: 23px;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      #searchBtn {
        background-color: #d1002c;
        border-top-right-radius: 30px;
        width: 20%;
        min-height: 40px;
        border: none;
        color: rgba(255, 255, 255, 0.757);
        border-bottom-right-radius: 30px;
      }
    }
  }
}
#cart {
  width: 100%;
  min-height: 700px;
  background-color: #eae7e2;
  display: flex;
  align-items: center;
  justify-content: center;

  #cartProducts {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 80%;

    img {
      width: 200px;
      border-radius: 10px;
    }

    button {
      background-color: #141517;
      width: 58%;
      border: none;
      height: 40px;
      font-family: poppins;
      font-size: 12px;
      line-height: 26px;
      color: white;
      transition: 0.6s ease;

      &:hover {
        background-color: #141517;
      }
    }

    p {
      font-size: 24px;
      font-weight: 600;
      font-family: poppins;
      color: #333333;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 933px) {
  #cart {
    #cartProducts {
      flex-wrap: wrap;

      img {
        width: 70%;
      }

      p {
        font-family: Courgette;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        color: #222;
      }
    }
  }
}

footer {
  width: 100%;
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: #b3b3b3;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;

    span {
      color: #d1002c;
      cursor: pointer;
    }
  }
}
